{% extends 'layout.html' %}
{% load static %}

{% block body %}



<nav class="navbar" style="background-color: #e3f2fd;">
  <!-- Navbar content -->
</nav>
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{% static 'images/canvas.jpg' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
    </a>
  </div>
</nav>

    <div>

        <img src="{% static 'images/StockCake-Stylish combat boot_1725698181.jpg' %}" alt="" width="150">
        <img src="{% static 'images/StockCake-Sunset Cowboy Boot_1725698145.jpg' %}" class="img-fluid" alt="..." width="100" >
        <img src="{% static 'images/3.jpg' %}" alt="" width="150">
        <img src="{% static 'images/MAIN.jpg' %}" class="img-fluid" alt="..." width="200" >
        <img src="{% static 'images/StockCake-Stylish Blue Sneaker_1725611485 (1).jpg' %}" alt="" WIDTH="150">
        <img src="{% static 'images/2.jpg' %}" alt="" width="200">
        <img src="{% static 'images/4.jpg' %}" alt="" width="150">
       <img src="{% static 'images/bby shoe.png' %}" alt="" WIDTH="100">
    </div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/a.jpg' %}" class="d-block w-100" alt="..." WIDTH='400'>
        <P>OFFICE WEAR =$588</P>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/canvas.jpg' %}"class="d-block w-100" alt="..." width="400">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/4.jpg' %}" class="d-block w-100" alt="..." width="400">
    </div>
      <div class="carousel-item">
      <img src="{% static 'images/red.jpg' %}"class="d-block w-100" alt="..." width="400">
    </div>
      <div class="carousel-item">
      <img src="{% static 'images/3.jpg' %}"class="d-block w-100" alt="..." width="400">
    </div>
      <div class="carousel-item">
      <img src="{% static 'images/2.jpg' %}"class="d-block w-100" alt="..." width="400">
    </div>
  </div>
</div>

<div class="row">


  <div class="col-md-4">
  <div class="card" style="width: 18rem;">
  <img src="images/sherry-christian-8Myh76_3M2U-unsplash.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
</div>

</div>


   <div class="col-md-4">
  <div class="card" style="width: 18rem;">
  <img src="images/sherry-christian-8Myh76_3M2U-unsplash.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
</div>

</div>


   <div class="col-md-4">
  <div class="card" style="width: 18rem;">
  <img src="images/sherry-christian-8Myh76_3M2U-unsplash.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
</div>

</div>



</div>



</div>

</div>
<!--about ends-->
<!--services start here -->
<div class="container text-center">
  <h3>our services</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate dicta dolorum eos
    ex expedita facilis fugiat fugit illum inventore laborum magnam molestiae obcaecati quisquam
  div  quos unde veritatis, voluptates, voluptatibus.</p>


<div class="row">


  <div class="col-md-4">
  <div class="card" style="width: 18rem;">
  <img src="images/sherry-christian-8Myh76_3M2U-unsplash.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
</div>

</div>


   <div class="col-md-4">
  <div class="card" style="width: 18rem;">
  <img src="images/sherry-christian-8Myh76_3M2U-unsplash.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
</div>

</div>


   <div class="col-md-4">
  <div class="card" style="width: 18rem;">
  <img src="images/sherry-christian-8Myh76_3M2U-unsplash.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
</div>

</div>


</div>

</div>

<div class="row">


  <div class="col-md-4">
  <div class="card" style="width: 18rem;">
  <img src="images/sherry-christian-8Myh76_3M2U-unsplash.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
</div>

</div>


   <div class="col-md-4">
  <div class="card" style="width: 18rem;">
  <img src="images/sherry-christian-8Myh76_3M2U-unsplash.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
</div>

</div>


   <div class="col-md-4">
  <div class="card" style="width: 18rem;">
  <img src="images/sherry-christian-8Myh76_3M2U-unsplash.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
</div>

</div>



</div>



</div>

</div>
<!--about ends-->
<!--services start here -->
<div class="container text-center">
  <h3>our services</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate dicta dolorum eos
    ex expedita facilis fugiat fugit illum inventore laborum magnam molestiae obcaecati quisquam
  div  quos unde veritatis, voluptates, voluptatibus.</p>


<div class="row">


  <div class="col-md-4">
  <div class="card" style="width: 18rem;">
  <img src="images/sherry-christian-8Myh76_3M2U-unsplash.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
</div>

</div>


   <div class="col-md-4">
  <div class="card" style="width: 18rem;">
  <img src="images/sherry-christian-8Myh76_3M2U-unsplash.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
</div>

</div>


   <div class="col-md-4">
  <div class="card" style="width: 18rem;">
  <img src=" " class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
</div>

</div>



</div>



</div>

{% endblock %}
